<configuration>

  <!--콘솔 출력-->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{yy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %cyan(%logger{36})
        %green([%X{requestId:-SYSTEM} | IP: %X{clientIp:-LOCAL} | User: %X{userId:-GUEST} |
        %X{requestMethod:-SYS} %X{requestUrl:-INTERNAL}]) - %msg%n
        <!-- 패턴: {년}-{월}-{일} {시}:{분}:{초}:{밀리초} [{스레드명}] {로그 레벨(5글자로 맞춤)} {로거 이름(최대 36글자)} [{MDC:요청ID} | {MDC:요청 메소드} | {MDC:요청 URL}] - {로그 메시지}{줄바꿈} -->
        <!-- 예시: 25-01-01 10:33:55.740 [main] DEBUG o.s.api.AbstractOpenApiResource [827cbc0b | GET | /v3/api-docs] - Init duration for springdoc-openapi is: 216 ms -->
      </pattern>
    </encoder>
  </appender>

  <!--파일 출력-->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>.logs/discodeit.log</file> <!-- 파일은 {프로젝트 루트}/.logs 경로에 저장되도록 설정 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>.logs/discodeit.%d{yyyy-MM-dd}.log
      </fileNamePattern> <!-- 로그 파일은 일자별로 롤링되도록 구성 -->
      <maxHistory>30</maxHistory> <!-- 로그 파일은 30일간 보관되도록 구성 -->
    </rollingPolicy>
    <encoder>
      <pattern>
        %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{requestId:-SYSTEM} | IP:
        %X{clientIp:-LOCAL} | User: %X{userId:-GUEST} | %X{requestMethod:-SYS}
        %X{requestUrl:-INTERNAL}] - %msg%n
      </pattern>
    </encoder>
  </appender>

  <!--프로파일별 분기-->
  <springProfile name="dev">
    <root level="info">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
    </root>
    <logger name="com.sprint.mission.discodeit" level="debug"/>
  </springProfile>

  <springProfile name="prod">
    <root level="info">
      <appender-ref ref="CONSOLE"/> <!-- ECS 배포 확인용 -->
      <appender-ref ref="FILE"/>
    </root>
  </springProfile>

  <springProfile name="test">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <!-- 파일 출력도 필요하다면 아래 줄 추가 -->
      <appender-ref ref="FILE"/>
    </root>
  </springProfile>

</configuration>